<a href="https://colab.research.google.com/github/DrumDong/Donggyu/blob/master/Pandas%EC%97%B0%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Pandas test

In [0]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
#1.

import pandas as pd

path='/content/gdrive/My Drive/Colab Notebooks/data/2018년 1분기.csv'
df= pd.read_csv(path,
               usecols=[0,1,2,3,4,5,6,7,8,9,10])
               #names=['지역','측정소코드','측정소명','측정일시','SO2','CO','O3','NO2','PM10','PM25','주소'])
df.tail()

            지역   측정소코드 측정소명        측정일시  ...     NO2  PM10  PM25              주소
768667  인천 옹진군  831492  백령도  2018033120  ...  0.0059  16.0   NaN  인천 옹진군 백령면 연화리
768668  인천 옹진군  831492  백령도  2018033121  ...  0.0101  12.0   NaN  인천 옹진군 백령면 연화리
768669  인천 옹진군  831492  백령도  2018033122  ...  0.0112   9.0   NaN  인천 옹진군 백령면 연화리
768670  인천 옹진군  831492  백령도  2018033123  ...  0.0051  21.0   NaN  인천 옹진군 백령면 연화리
768671  인천 옹진군  831492  백령도  2018033124  ...  0.0068  19.0   NaN  인천 옹진군 백령면 연화리

[5 rows x 11 columns]

In [0]:
#날짜문자열 슬라이싱하기
DF=df
DF['지역']=DF['지역'].str.slice(0,2)
DF['측정일시']=DF['측정일시'].astype(str).str.slice(0,8)
DF.head()

   지역   측정소코드 측정소명      측정일시    SO2  ...     O3    NO2  PM10  PM25             주소
0  서울  111121   중구  20180101  0.004  ...  0.020  0.020  34.0  19.0  서울 중구 덕수궁길 15
1  서울  111121   중구  20180101  0.004  ...  0.024  0.016  27.0  14.0  서울 중구 덕수궁길 15
2  서울  111121   중구  20180101  0.004  ...  0.018  0.022  26.0  14.0  서울 중구 덕수궁길 15
3  서울  111121   중구  20180101  0.004  ...  0.010  0.030  26.0  15.0  서울 중구 덕수궁길 15
4  서울  111121   중구  20180101  0.004  ...  0.011  0.029  28.0  16.0  서울 중구 덕수궁길 15

[5 rows x 11 columns]

In [0]:
#2.

df_grouped=df['PM10'].groupby([df['지역'],df['측정일시']])

k=df_grouped.mean().reset_index(name='평균') #min, max 모두 같은 방식, 3번처럼 측정일시 짜르면 가능함..

            지역        측정일시     평균
0       강원 강릉시  2018010101   15.0
1       강원 강릉시  2018010102   21.0
2       강원 강릉시  2018010103   14.0
3       강원 강릉시  2018010104   13.0
4       강원 강릉시  2018010105   15.0
5       강원 강릉시  2018010106   12.0
6       강원 강릉시  2018010107   12.0
7       강원 강릉시  2018010108   14.0
8       강원 강릉시  2018010109   17.0
9       강원 강릉시  2018010110   20.0
10      강원 강릉시  2018010111   22.0
11      강원 강릉시  2018010112   20.0
12      강원 강릉시  2018010113   12.0
13      강원 강릉시  2018010114   10.0
14      강원 강릉시  2018010115    8.0
15      강원 강릉시  2018010116    8.0
16      강원 강릉시  2018010117   11.0
17      강원 강릉시  2018010118   15.0
18      강원 강릉시  2018010119   19.0
19      강원 강릉시  2018010120   24.0
20      강원 강릉시  2018010121   23.0
21      강원 강릉시  2018010122   31.0
22      강원 강릉시  2018010123   34.0
23      강원 강릉시  2018010124   33.0
24      강원 강릉시  2018010201   29.0
25      강원 강릉시  2018010202   27.0
26      강원 강릉시  2018010203   30.0
27      강원 강릉시  2018010204   32.0
28      강원 강릉시  2018010205   34.0
29      강원 강릉시  2018010206   37.0
...        ...         ...    ...
402066  충북 충주시  2018033019   50.5
402067  충북 충주시  2018033020   53.0
402068  충북 충주시  2018033021   63.5
402069  충북 충주시  2018033022   53.5
402070  충북 충주시  2018033023   84.5
402071  충북 충주시  2018033024   88.0
402072  충북 충주시  2018033101   83.0
402073  충북 충주시  2018033102   79.5
402074  충북 충주시  2018033103   77.5
402075  충북 충주시  2018033104   53.5
402076  충북 충주시  2018033105   52.5
402077  충북 충주시  2018033106   54.0
402078  충북 충주시  2018033107   68.0
402079  충북 충주시  2018033108   63.5
402080  충북 충주시  2018033109   73.0
402081  충북 충주시  2018033110   62.5
402082  충북 충주시  2018033111   56.5
402083  충북 충주시  2018033112   62.0
402084  충북 충주시  2018033113   61.5
402085  충북 충주시  2018033114   67.5
402086  충북 충주시  2018033115   82.5
402087  충북 충주시  2018033116  101.5
402088  충북 충주시  2018033117  109.0
402089  충북 충주시  2018033118  115.5
402090  충북 충주시  2018033119  112.0
402091  충북 충주시  2018033120  108.0
402092  충북 충주시  2018033121   82.5
402093  충북 충주시  2018033122   68.0
402094  충북 충주시  2018033123   78.0
402095  충북 충주시  2018033124   84.5

[402096 rows x 3 columns]

In [0]:
#3

df.head()
df3=df[['지역','측정일시','PM10','PM25']]
df3['측정일시']=df3['측정일시'].apply(lambda e: str(e))
df3['측정일시']=df3['측정일시'].apply(lambda k: k[:8])

#m1=df3['PM10'].groupby(df3['지역']).mean().reset_index(name='PM10mean')
#m2=df3['PM25'].groupby(df3['지역']).mean().reset_index(name='PM25mean')
#m1


k1=df3['PM10'].groupby([df3['지역'],df3['측정일시']]).mean().reset_index(name='비교할PM10평균')

k2=df3['PM25'].groupby([df3['지역'],df3['측정일시']]).mean().reset_index(name='비교할PM25평균')


result1 =pd.merge(left=k1,right=k2,how='right',on=['지역','측정일시'])
#result
result2 = pd.merge(left=df3,right=result,how='right',on=['지역','측정일시'])
#result2=result2.dropna() NA값 따로 처리 안해도됨. Pandas가 알아서 처리해줌

answer1=result2[result2['PM10']>result2['비교할PM10평균']]
answer2=answer1[answer1['PM25']>answer1['비교할PM25평균']]
answer2

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

        지역      측정일시  PM10  PM25  비교할PM10평균  비교할PM25평균
135     서울  20180101  56.0  23.0  44.587321  21.150087
143     서울  20180101  53.0  31.0  44.587321  21.150087
158     서울  20180101  50.0  24.0  44.587321  21.150087
159     서울  20180101  50.0  25.0  44.587321  21.150087
160     서울  20180101  58.0  30.0  44.587321  21.150087
161     서울  20180101  54.0  25.0  44.587321  21.150087
162     서울  20180101  53.0  23.0  44.587321  21.150087
163     서울  20180101  51.0  23.0  44.587321  21.150087
164     서울  20180101  52.0  27.0  44.587321  21.150087
165     서울  20180101  46.0  23.0  44.587321  21.150087
166     서울  20180101  54.0  29.0  44.587321  21.150087
167     서울  20180101  55.0  29.0  44.587321  21.150087
175     서울  20180101  45.0  24.0  44.587321  21.150087
179     서울  20180101  46.0  23.0  44.587321  21.150087
182     서울  20180101  45.0  23.0  44.587321  21.150087
183     서울  20180101  79.0  24.0  44.587321  21.150087
184     서울  20180101  65.0  31.0  44.587321  21.150087
185     서울  20180101  61.0  32.0  44.587321  21.150087
187     서울  20180101  61.0  22.0  44.587321  21.150087
188     서울  20180101  61.0  34.0  44.587321  21.150087
189     서울  20180101  58.0  34.0  44.587321  21.150087
190     서울  20180101  61.0  32.0  44.587321  21.150087
191     서울  20180101  63.0  30.0  44.587321  21.150087
229     서울  20180101  48.0  27.0  44.587321  21.150087
230     서울  20180101  57.0  23.0  44.587321  21.150087
231     서울  20180101  71.0  30.0  44.587321  21.150087
232     서울  20180101  64.0  31.0  44.587321  21.150087
233     서울  20180101  63.0  27.0  44.587321  21.150087
234     서울  20180101  56.0  25.0  44.587321  21.150087
235     서울  20180101  54.0  25.0  44.587321  21.150087
...     ..       ...   ...   ...        ...        ...
768467  인천  20180331  71.0  32.0  52.717391  28.564583
768471  인천  20180331  53.0  32.0  52.717391  28.564583
768480  인천  20180331  65.0  36.0  52.717391  28.564583
768491  인천  20180331  66.0  32.0  52.717391  28.564583
768492  인천  20180331  57.0  29.0  52.717391  28.564583
768500  인천  20180331  59.0  30.0  52.717391  28.564583
768511  인천  20180331  54.0  34.0  52.717391  28.564583
768512  인천  20180331  55.0  35.0  52.717391  28.564583
768513  인천  20180331  68.0  38.0  52.717391  28.564583
768514  인천  20180331  68.0  35.0  52.717391  28.564583
768515  인천  20180331  56.0  33.0  52.717391  28.564583
768533  인천  20180331  53.0  34.0  52.717391  28.564583
768534  인천  20180331  62.0  38.0  52.717391  28.564583
768535  인천  20180331  73.0  44.0  52.717391  28.564583
768536  인천  20180331  60.0  32.0  52.717391  28.564583
768537  인천  20180331  53.0  29.0  52.717391  28.564583
768538  인천  20180331  64.0  34.0  52.717391  28.564583
768539  인천  20180331  65.0  38.0  52.717391  28.564583
768549  인천  20180331  62.0  38.0  52.717391  28.564583
768550  인천  20180331  62.0  37.0  52.717391  28.564583
768551  인천  20180331  63.0  40.0  52.717391  28.564583
768558  인천  20180331  66.0  42.0  52.717391  28.564583
768559  인천  20180331  68.0  42.0  52.717391  28.564583
768560  인천  20180331  70.0  37.0  52.717391  28.564583
768561  인천  20180331  67.0  34.0  52.717391  28.564583
768562  인천  20180331  65.0  34.0  52.717391  28.564583
768563  인천  20180331  60.0  33.0  52.717391  28.564583
768564  인천  20180331  58.0  30.0  52.717391  28.564583
768565  인천  20180331  56.0  29.0  52.717391  28.564583
768584  인천  20180331  67.0  30.0  52.717391  28.564583

[205982 rows x 6 columns]

In [0]:
#3

path='/content/gdrive/My Drive/Colab Notebooks/data/2018년 1분기.csv'
df= pd.read_csv(path,
               usecols=[0,1,2,3,4,5,6,7,8,9,10])
               #names=['지역','측정소코드','측정소명','측정일시','SO2','CO','O3','NO2','PM10','PM25','주소'])
df.tail()



df3=df[['지역','측정일시','PM10','PM25']]

m1=df3['PM10'].groupby(df3['지역']).mean().reset_index(name='PM10mean')
m2=df3['PM25'].groupby(df3['지역']).mean().reset_index(name='PM25mean')


result =pd.merge(left=m1,right=m2,how='right',on=['지역'])

result

k1=df3['PM10'].groupby([df3['지역'],df3['측정일시']]).mean().reset_index(name='비교할PM10평균')

k2=df3['PM25'].groupby([df3['지역'],df3['측정일시']]).mean().reset_index(name='비교할PM25평균')


result1 =pd.merge(left=k1,right=k2,how='right',on=['지역','측정일시'])

result1

result2=pd.merge(left=result,right=result1,how='right',on=['지역'])

result2

answer1=result2[result2['PM10mean']>result2['비교할PM10평균']]
answer2=answer1[answer1['PM25mean']>answer1['비교할PM25평균']]

answer2

            지역   PM10mean   PM25mean        측정일시  비교할PM10평균  비교할PM25평균
4       강원 강릉시  35.558563  24.921902  2018010105       15.0       10.0
7       강원 강릉시  35.558563  24.921902  2018010108       14.0       13.0
9       강원 강릉시  35.558563  24.921902  2018010110       20.0       10.0
10      강원 강릉시  35.558563  24.921902  2018010111       22.0       13.0
11      강원 강릉시  35.558563  24.921902  2018010112       20.0       12.0
12      강원 강릉시  35.558563  24.921902  2018010113       12.0        7.0
15      강원 강릉시  35.558563  24.921902  2018010116        8.0        7.0
16      강원 강릉시  35.558563  24.921902  2018010117       11.0        8.0
17      강원 강릉시  35.558563  24.921902  2018010118       15.0       12.0
18      강원 강릉시  35.558563  24.921902  2018010119       19.0       14.0
19      강원 강릉시  35.558563  24.921902  2018010120       24.0       13.0
20      강원 강릉시  35.558563  24.921902  2018010121       23.0       18.0
21      강원 강릉시  35.558563  24.921902  2018010122       31.0       20.0
22      강원 강릉시  35.558563  24.921902  2018010123       34.0       22.0
23      강원 강릉시  35.558563  24.921902  2018010124       33.0       22.0
24      강원 강릉시  35.558563  24.921902  2018010201       29.0       19.0
25      강원 강릉시  35.558563  24.921902  2018010202       27.0       18.0
26      강원 강릉시  35.558563  24.921902  2018010203       30.0       18.0
27      강원 강릉시  35.558563  24.921902  2018010204       32.0       20.0
28      강원 강릉시  35.558563  24.921902  2018010205       34.0       21.0
38      강원 강릉시  35.558563  24.921902  2018010215       28.0        8.0
39      강원 강릉시  35.558563  24.921902  2018010216       29.0       13.0
40      강원 강릉시  35.558563  24.921902  2018010217       33.0       17.0
41      강원 강릉시  35.558563  24.921902  2018010218       25.0       14.0
42      강원 강릉시  35.558563  24.921902  2018010219       19.0       16.0
43      강원 강릉시  35.558563  24.921902  2018010220       17.0       14.0
44      강원 강릉시  35.558563  24.921902  2018010221       19.0       16.0
45      강원 강릉시  35.558563  24.921902  2018010222       12.0        9.0
46      강원 강릉시  35.558563  24.921902  2018010223       13.0       11.0
48      강원 강릉시  35.558563  24.921902  2018010301       14.0        7.0
...        ...        ...        ...         ...        ...        ...
402015  충북 충주시  54.531198  34.836759  2018032816       54.5       26.5
402016  충북 충주시  54.531198  34.836759  2018032817       51.5       27.0
402017  충북 충주시  54.531198  34.836759  2018032818       50.5       27.0
402018  충북 충주시  54.531198  34.836759  2018032819       44.5       20.0
402020  충북 충주시  54.531198  34.836759  2018032821       47.5       25.0
402021  충북 충주시  54.531198  34.836759  2018032822       36.0       18.5
402022  충북 충주시  54.531198  34.836759  2018032823       40.0       22.5
402023  충북 충주시  54.531198  34.836759  2018032824       47.0       25.5
402024  충북 충주시  54.531198  34.836759  2018032901       44.5       26.0
402025  충북 충주시  54.531198  34.836759  2018032902       45.5       27.5
402026  충북 충주시  54.531198  34.836759  2018032903       43.0       27.5
402027  충북 충주시  54.531198  34.836759  2018032904       42.5       28.0
402028  충북 충주시  54.531198  34.836759  2018032905       42.5       29.0
402029  충북 충주시  54.531198  34.836759  2018032906       43.5       30.5
402030  충북 충주시  54.531198  34.836759  2018032907       46.5       31.5
402038  충북 충주시  54.531198  34.836759  2018032915       48.0       32.5
402039  충북 충주시  54.531198  34.836759  2018032916       53.0       31.0
402050  충북 충주시  54.531198  34.836759  2018033003       40.5       25.5
402051  충북 충주시  54.531198  34.836759  2018033004       45.0       20.0
402052  충북 충주시  54.531198  34.836759  2018033005       41.0       17.0
402053  충북 충주시  54.531198  34.836759  2018033006       41.0       16.5
402054  충북 충주시  54.531198  34.836759  2018033007       40.5       13.5
402055  충북 충주시  54.531198  34.836759  2018033008       47.5       15.0
402060  충북 충주시  54.531198  34.836759  2018033013       50.5       13.5
402065  충북 충주시  54.531198  34.836759  2018033018       52.5       23.5
402066  충북 충주시  54.531198  34.836759  2018033019       50.5       21.0
402067  충북 충주시  54.531198  34.836759  2018033020       53.0       24.5
402069  충북 충주시  54.531198  34.836759  2018033022       53.5       20.0
402075  충북 충주시  54.531198  34.836759  2018033104       53.5       30.5
402077  충북 충주시  54.531198  34.836759  2018033106       54.0       33.5

[187118 rows x 6 columns]

In [0]:
#4
df.head()

#서울 평균 출력
df['지역']=df['지역'].apply(lambda e: e.split()[0])
DF4=df
DF4
DF4['PM10'].groupby(DF4['지역']=='서울').describe() # 54.96

#다른 도시 구하기
df4=df
df4=df4['지역']!='서울'
dfdf4=df[df4]
dfdf4=dfdf4[['지역','PM10']]

dfdf4['PM10'].groupby(dfdf4['지역']).mean()
NoSeoulMean=dfdf4['PM10'].groupby(dfdf4['지역']).mean().reset_index(name='지역평균')

NoSeoulMean
#41.22<NoSeoulMean['지역평균']
kk=NoSeoulMean[41.22<NoSeoulMean['지역평균']]
kk[kk['지역평균']<68.7]

    지역       지역평균
0   강원  44.104239
1   경기  56.372012
2   경남  43.843156
3   경북  47.980911
4   광주  48.383497
5   대구  47.652055
6   대전  55.042159
7   부산  47.401002
8   세종  50.037465
9   울산  42.688373
10  인천  49.576739
12  전북  55.744701
14  충남  49.752716
15  충북  52.496170

In [0]:
#4 교수님 풀이

path='/content/gdrive/My Drive/Colab Notebooks/data/2018년 1분기.csv'
finedust= pd.read_csv(path,
               usecols=[0,1,2,3,4,5,6,7,8,9,10])
               #names=['지역','측정소코드','측정소명','측정일시','SO2','CO','O3','NO2','PM10','PM25','주소'])
  
seoul = finedust[finedust['지역'].str.slice(0,2)=='서울']
seoul_pm25_mean = seoul['PM25'].mean()

minus=(1-0.25)*seoul_pm25_mean
plus=(1+0.25)*seoul_pm25_mean

#지역별 PM25평균구하기
finedust_mean= finedust['PM25'].groupby(finedust['지역'].str.slice(0,2)).mean().reset_index(name='지역평균')

#finedust_mean
result1=finedust_mean[finedust_mean['지역평균']>minus]
result2=result1[result1['지역평균']<plus]

result2

    지역       지역평균
0   강원  30.994908
1   경기  35.626274
3   경북  30.591928
4   광주  29.946315
5   대구  28.639689
6   대전  28.582606
7   부산  27.749033
8   서울  32.227708
9   세종  26.680151
10  울산  24.602233
11  인천  29.330752
12  전남  25.469108
13  전북  32.934602
15  충남  28.708640
16  충북  35.939095

In [0]:
#5

df.describe() # 30.68

df['지역'].apply(lambda e: e.split()[0])
df5=df[['지역','PM25']]
df5['지역']=df5['지역'].apply(lambda e: e.split()[0])

df5_grouped=df5['PM25'].groupby(df5['지역'])
kk=df5_grouped.mean()
h=kk>30.68
kk[h]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

지역
강원    30.994908
경기    35.626274
서울    32.227708
전북    32.934602
충북    35.939095
Name: PM25, dtype: float64

#Pandas

##Series

In [0]:
from pandas import Series, DataFrame
import pandas as pd

fruit=Series([2500,3800,1200,6000],index=['apple','banana','peer','cherry'])

print(fruit)
print(fruit.values)
print(fruit.index)

apple     2500
banana    3800
peer      1200
cherry    6000
dtype: int64
[2500 3800 1200 6000]
Index(['apple', 'banana', 'peer', 'cherry'], dtype='object')

In [0]:
fruitData={'apple':2500,'banana':3800,'peer':1200,'cherry':6000}
fruit =Series(fruitData)

print(type(fruitData))
print(type(fruit))

<class 'dict'>
<class 'pandas.core.series.Series'>

##Dataframe

In [0]:
fruitData={'fruitName':['apple','banana','cherry','peer'],
          'fruitPrice':[2500,3800,6000,1200],
          'num':[10,5,3,8]}

fruitFrame=DataFrame(fruitData)
print(fruitFrame)

  fruitName  fruitPrice  num
0     apple        2500   10
1    banana        3800    5
2    cherry        6000    3
3      peer        1200    8

###컬럼순서 지정하기

In [0]:
fruitData={'fruitName':['apple','banana','cherry','peer'],
          'fruitPrice':[2500,3800,6000,1200],
          'num':[10,5,3,8]}
fruitFrame=DataFrame(fruitData,columns=['fruitPrice','num','fruitName'])
print(fruitFrame)

   fruitPrice  num fruitName
0        2500   10     apple
1        3800    5    banana
2        6000    3    cherry
3        1200    8      peer

###컬럼추가

In [0]:
fruitFrame['year']=2016
fruitFrame

   fruitPrice  num fruitName  year
0        2500   10     apple  2016
1        3800    5    banana  2016
2        6000    3    cherry  2016
3        1200    8      peer  2016

In [0]:
variable=Series([4,2,1],index=[0,2,3])
fruitFrame['stock']=variable
print(fruitFrame)

   fruitPrice  num fruitName  year  stock
0        2500   10     apple  2016    4.0
1        3800    5    banana  2016    NaN
2        6000    3    cherry  2016    2.0
3        1200    8      peer  2016    1.0

###항목추출하기

In [0]:
## Series Slice
fruit = Series([2500,3800,1200,6000],index=['apple','banana','peer','cherry'])
fruit['apple':'peer']

apple     2500
banana    3800
peer      1200
dtype: int64

####Dataframe의 Slice

In [0]:
## dataframe Slice
fruitData = {'fruitName':['apple','banana','cherry','peer'],
 'fruitPrice':[2500,3800,6000,1200],
 'num':[10,5,3,8]}

fruitName=fruitData['fruitName']
fruitFrame = DataFrame(fruitData,index = fruitName,columns=['fruitPrice','num'])

print(fruitFrame)

print(fruitFrame['fruitPrice'])

print(fruitFrame['apple':'banana'])

        fruitPrice  num
apple         2500   10
banana        3800    5
cherry        6000    3
peer          1200    8
apple     2500
banana    3800
cherry    6000
peer      1200
Name: fruitPrice, dtype: int64
        fruitPrice  num
apple         2500   10
banana        3800    5

In [0]:

import pandas as pd


product=pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/data/product.csv',encoding='cp949')
product.head()

           일자  부류코드  품목코드  지역코드    마트코드     가격
0  2011-01-03   100   111  3511  350401  39600
1  2011-01-03   100   111  3311  330401  40000
2  2011-01-03   100   111  1101  110251  37000
3  2011-01-03   100   111  1101  110401  43900
4  2011-01-03   100   111  1101  110402  39800

In [0]:
#111만 뽑기
product2=product['품목코드']==111
k=product[product2]

#지역별 최소값
location_price=k['가격'].groupby(k['지역코드'])
cheap=location_price.min().reset_index(name='최소값')


mart=k['가격'].groupby([k['지역코드'],k['마트코드']]).min().reset_index(name='최소값')

result =pd.merge(left=cheap,right=mart,how='right',on=['지역코드','최소값'])
result

    지역코드    최소값    마트코드
0   1101  34800  110403
1   2100  36800  210401
2   2200  34800  220401
3   2300  38500  230401
4   2401  33800  240401
5   2501  34800  250401
6   2601  41800  260401
7   3111  42000  310402
8   3113  42800  312401
9   3145  41800  310403
10  3211  38500  320401
11  3311  40000  330401
12  3511  39600  350401
13  3613  42800  360401
14  3711  38500  370401
15  3714  42800  372401
16  3814  39800  380401
17  3911  34800  390401
18  1101  44000  110212
19  1101  37000  110251
20  1101  37800  110401
21  1101  39800  110402
22  1101  40800  110405
23  1101  41000  110406
24  1101  39900  110407
25  2100  42000  210022
26  2100  39800  210402
27  2100  42900  210403
28  2200  44330  220062
29  2200  40000  220063
30  2200  41000  220402
31  2200  39700  220403
32  2300  44000  230036
33  2401  40000  240121
34  2401  37000  240141
35  2401  41800  240402
36  2401  34800  240403
37  2501  42000  250112
38  2501  38500  250402
39  2501  43800  250403
40  2601  47000  260001
41  3111  43330  310001
42  3211  44700  320001
43  3311  45000  330001
44  3511  44000  350001
45  3814  44500  380001
46  3911  50000  390001

#Numpy
- 넘버링, 숫자연산, 행렬연산을 위해 쓴다.
- 행렬 * 행렬

In [0]:
import numpy as np

#ndarray 생성
arr =  np.array([1,2,3,4])
print(arr)

[1 2 3 4]

In [0]:
##zeros, ones, empy 함수를 사용한 배열 생성
#np.zeros((3,3))
#np.ones((2,2))
#np.empty((4,4))

array([[1., 1.],
       [1., 1.]])

In [0]:
arr=np.array([[1,2,3],[4,5,6]])
print(arr)

[[1 2 3]
 [4 5 6]]

In [0]:
arr.shape #0과1 / 0과1과2

(2, 3)

In [0]:
arr.ndim #2차원 배열

2

In [0]:
arr.dtype

dtype('int64')

In [0]:
arr=np.zeros((100,200))
arr[0][:]

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [0]:
arr_int=np.array([1,2,3,4])
arr_int.dtype
arr_float=arr_int.astype(np.float)
arr_float.dtype

dtype('float64')

##Numpy를 이용한 사칙연산

In [0]:
#행렬

arr=np.array([[1,2,3],[1,2,3]])
arr2=np.array([[4,5,6],[4,5,6],[4,5,6]])

In [0]:
arr.dot(arr2)

array([[24, 30, 36],
       [24, 30, 36]])

In [0]:
arr2-arr

array([3, 3, 3])

In [0]:
arr*arr2

array([ 4, 10, 18])

In [0]:
arr = np.array([[1,2],[10,20]])
arr2 = np.array([[4,5,],[40,50]])

In [0]:
arr.dot(arr2)

array([[  84,  105],
       [ 840, 1050]])

In [0]:
arr*arr2

array([[   4,   10,   18],
       [ 400, 1000, 1800]])

#Wine Quality 데이터를 활용한 Numpy 실습

In [0]:
import numpy as np

redwine=np.loadtxt(fname='/content/gdrive/My Drive/Colab Notebooks/data/winequality-red.csv',
                  delimiter=';',skiprows=1)

print(redwine)

[[ 7.4    0.7    0.    ...  0.56   9.4    5.   ]
 [ 7.8    0.88   0.    ...  0.68   9.8    5.   ]
 [ 7.8    0.76   0.04  ...  0.65   9.8    5.   ]
 ...
 [ 6.3    0.51   0.13  ...  0.75  11.     6.   ]
 [ 5.9    0.645  0.12  ...  0.71  10.2    5.   ]
 [ 6.     0.31   0.47  ...  0.66  11.     6.   ]]

In [0]:
redwine.shape

(1599, 12)

In [0]:
#배열 전체 합계
redwine.sum()

152084.78194

In [0]:
#배열 전체 평균
redwine.mean()

7.926036165311652

In [0]:
#첫번째 칼럼의 전체 로우 평균
redwine[:,0].mean()

8.31963727329581

※reshape 공부좀 해보자 중요할 듯.

*   arr = np.array([1,2,3],[4,5,6])
*   arr
-  arr.reshpae(6)
- arr.reshape(3,2)

In [0]:
#배열 모양 1차원으로 바꾸기
redwine.reshape(1599*12)

array([ 7.4 ,  0.7 ,  0.  , ...,  0.66, 11.  ,  6.  ])